# Database URL for Postgres
DATABASE_URL="postgres://..."

# Session secret
SESSION_SECRET=""

# Encryption keys (generate with node scripts/encryption/generateKey.js)
ENCRYPTION_SECRET_NEW=""

# Base url
PUBLIC_URL="http://localhost:3000"

# Emails
RESEND_API_KEY=""
RESEND_FROM=""
# RESEND_REPLY_TO=""