# [!] Database URL for Postgres
DATABASE_URL="postgres://..."

# [!] Session secret (random password, min. 32 characters)
SESSION_SECRET=""

# [!] Encryption keys (32 bytes, hex-encoded; generate with node scripts/encryption/generateKey.js)
ENCRYPTION_SECRET_NEW=""

# [!] Base URL
PUBLIC_URL="http://localhost:3000"

# Emails (production only)
RESEND_API_KEY=""
RESEND_FROM=""
# RESEND_REPLY_TO=""