@import "./assets/fonts/fonts.css";
@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;

  --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
}

@layer base {
  body,
  html {
    @apply h-full;
  }
  body {
    @apply overflow-y-auto;
  }

  body,
  .font-sans {
    /* ss01: single-storey 'g' */
    /* ss06: single-storey 'a' */
    font-feature-settings: "ss01";
  }
  .font-heading {
    font-feature-settings: normal;
  }

  body * {
    /* set per-element, because letter-spacing uses em units */
    @apply tracking-tight;
  }
}

.animate-background-in {
  animation: background-in 1s var(--ease-in-out-expo) both;
}
@keyframes background-in {
  0% {
    scale: 1.1;
    filter: blur(8px);
  }
  100% {
    scale: 1;
    filter: blur(0px);
  }
}
