@import "./assets/fonts/fonts.css";
@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body, html {
    @apply h-full;
  }
  body {
    @apply overflow-y-auto;
  }

  body,
  .font-sans {
    /* ss01: single-storey 'g' */
    /* ss06: single-storey 'a' */
    font-feature-settings: "ss01";
  }
  .font-heading {
    font-feature-settings: normal;
  }

  body * {
    /* set per-element, because letter-spacing uses em units */
    @apply tracking-tight;
  }
}
